body {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: lightblue;
}

@media screen and (max-width: 700px) {
    img {
        height: 80%;
        width: 80%;
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) {
    * {
        font-size: 30px; 
    }
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 7px 15px 7px 15px;
}

img {
    height: 50%;
    width: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.start-quiz {
    box-sizing: border-box;
    background-color: lightblue;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.question {
    box-sizing: border-box;
    background-color:white;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

h2 {
    background-color: white;
}
p {
    box-sizing: border-box;
    background-color:lightblue;
    color:black;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.end-quiz {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}