body {
    margin: 0, auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    margin-top: 10px;
}

.start-quiz {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

p {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.hidden {
    
}

.question-2 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.question-3 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.question-4 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.question-5 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.question-6 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.question-7 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.question-8 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.question-9 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.question-10 {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}

.end-quiz {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
}