body {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 7px 15px 7px 15px;
}

.start-quiz {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.question {
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 20px;
    text-align: left;
}

form {
    text-align: left;
}

p {
    box-sizing: border-box;
    background-color: white;
    color:black;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.end-quiz {
    box-sizing: border-box;
    background-color: lightgray;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}